<h1>Links</h1>
<ul>
  <li><%= link_to 'Image Test'      , image_test_path %></li>
  <li><%= link_to 'Javascript Test' , javascript_test_path %></li>
  <li><%= link_to 'Stylesheet Test' , stylesheet_test_path %></li>
</ul>
